.header-first {
  font-size: 0.8rem;
  cursor: pointer;
}
.input {
  outline: none;
  background-color white;
  border: none; 
 
}

.feature-text p{
    padding-left: 1rem;
    color: white;
    font-weight: 600;
    background: #000;
}

.feature-text  {
    display: flex ;
    align-items: center;
    padding:0px;
}